<!DOCTYPE HTML>
<!--
Urban by TEMPLATED
templated.co (at) templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/Content/assets/css/main.css" />
    <link href="/Content/assets/css/jquery.bootgrid.css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
</body>
</html>
